.DS_Store

!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Use for SAM
template.yaml

# Env folder
textract-pipeline/lambda/pipenv/

# IDEA folder
.idea/

# Packages folder
lambda/layer/combined/
lambda/layer/pipenv/bin
lambda/layer/pipenv/python
lambda/libjs/*.tgz
lambda/function/*/config
lambda/function/*/global

.*.swp
