.cursor-pointer {
  cursor: pointer;
}

.text-blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.organization-name-6 {
  color: #1B5E20 !important;
}
.organization-name-5 {
  color: #1B5E20 !important;
}
.organization-name-4 {
  color: #43A047 !important;
}
.organization-name-3 {
  color: #7CB342 !important;
}
.organization-name-2 {
  color: #C0CA33 !important;
}
.organization-name-1 {
  color: #FFB74D !important;
}
