#if( $ctx.args.id ) ## FOR QUERY OPERATIONS
	#set( $id = $ctx.args.id )
#else
	#set( $id = $ctx.args.input.id ) ## FOR MUTATION OPERATIONS
#end
{
  "version": "2018-05-29",
  "statements": [
    "select role as \"role\" FROM resourceaccesslist WHERE resourceid = '$id' and  granteeid = '$ctx.stash.user_uuid'"
  ]
}