
#if($ctx.error)
    $utils.error($ctx.error.message, $ctx.error.type)
#end
#set( $result = $utils.rds.toJsonObject($ctx.result)[0][0] )
$util.qr($result.put('tenderSource', 'private'))
$util.qr($ctx.stash.put('tender', $result))
$utils.toJson($result)