{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "method": "User",
        "arguments":  $utils.toJson($context.arguments),
        "stash":  $utils.toJson($context.stash),
    }
}