$util.qr($context.args.input.put("owner_id", $context.stash.user_uuid))
$util.qr($context.args.input.put("dataSource", "private")) 
{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "method": "CreateTender",
        "arguments":  $utils.toJson($context.arguments),
        "stash":  $utils.toJson($context.stash)
    }
}