 #if( $context.result && $context.result.Error )
      $utils.error($context.result.Error)
 #else
     ## STASH
     $util.qr($context.stash.put("user_type", $context.result.data.type)) 
     $util.qr($context.stash.put("user_uuid", $context.result.data.uuid)) 
     $util.qr($context.stash.put("user_hivebriteId", $context.result.data.hivebriteId)) 
     ## RESULT
     $utils.toJson($context.result.data)
  #end