 #if( $context.result && $context.result.Error )
      $utils.error($context.result.Error)
 #else
     $util.qr($ctx.stash.put('Hivebrite',$context.result.data))
     $utils.toJson($context.result.data)
 #end