 $util.qr($context.stash.put("callerID", $ctx.identity.username))
 $util.qr($context.stash.put("orgID", $util.defaultIfNull($ctx.args.input.orgID, $ctx.args.orgID)))
 #foreach($group in $context.identity.claims.get("cognito:groups"))
    #if($group == "SuperAdmin")
        $util.qr($context.stash.put("isSuperAdmin", true))   
    #else
        $util.qr($context.stash.put("isSuperAdmin", false))          
    #end
#end
{}